<section id="sectors" class="sectors mt-5">

    <h1 class="text-center">Major Priority Sectors</h1>
    <div class="sector_content ">
        <div class="container ">

            <div class="row mt-5">
                <div class="col-md-6 col-lg-4 sector_img-wrap d-flex justify-center align-items-center flex-column ">
                    <img src="assets/b2b.jpg" alt="B2B">
                    <h3 class="text-center">B2B</h3>
                </div>
                <div class="col-md-6 col-lg-4 sector_img-wrap d-flex justify-center align-items-center flex-column ">
                    <img src="assets/b2c.jpg" alt="B2C">
                    <h3 class="text-center">B2C</h3>
                </div>
                <div class="col-md-6 col-lg-4 sector_img-wrap d-flex justify-center align-items-center flex-column ">
                    <img src="assets/healthcare.png" alt="Healthcare" >
                    <h3 class="text-center">Healthcare</h3>
                </div>
                <div class="col-md-6 col-lg-4 sector_img-wrap d-flex justify-center align-items-center flex-column ">
                    <img src="assets/It.png" alt="It software" >
                    <h3 class="text-center">It Software</h3>
                </div>
                <div class="col-md-6 col-lg-4 sector_img-wrap d-flex justify-center align-items-center flex-column ">
                    <img src="assets/retail.jpg" alt="Wholesale Trade">
                    <h3 class="text-center">Wholesale Trade</h3>
                </div>
                <div class="col-md-6 col-lg-4 sector_img-wrap d-flex justify-center align-items-center flex-column ">
                    <img src="assets/finance.jpg" alt="Finance Bank">
                    <h3 class="text-center">Finance/Bank</h3>
                </div>
                <div class="col-md-6 col-lg-4 sector_img-wrap d-flex justify-center align-items-center flex-column ">
                    <img src="assets/tourism.png" alt="Tourism">
                    <h3 class="text-center">Tourism</h3>
                </div>
                <div class="col-md-6 col-lg-4 sector_img-wrap d-flex justify-center align-items-center flex-column ">
                    <img src="assets/restaurant.jpg" alt="Restaurant">
                    <h3 class="text-center">Restaurant</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- <p>created by Amir Hamza</p> -->
</section>