<section class="responsibility  mt-5" id="responsibility">
    <h1 class="text-center">Our Responsibility</h1>
    <p class="head_text p-3">Ensuring the legitimacy of respondents is
        crucial because data quality is a paramount
        concern for businesses involved in market research. To guarantee study quality, we employ a comprehensive
        validation strategy known as Cred Encuesta Quality Suites.</p>
    <div class="responsibility_content">
        <div class="container">
            <div class="row icon_box-container mt-5 mb-5">

                <div class="col-lg-3 icon_box-wrap" data-aos="fade-up">
                    <div class="icon_box p-3 d-flex flex-column justify-center align-items-center text-center">
                        <i class="bi bi-cpu-fill"></i>
                        <h3>IP confirmation</h3>
                        <p>
                            During recruitment, we verify the IP address of new panelists to confirm their location
                            within the market area. This process involves checking against a known list of fraudulent
                            servers to identify any potential fraud.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 icon_box-wrap" data-aos="fade-up">
                    <div class="icon_box p-3 d-flex flex-column justify-center align-items-center text-center">
                        <i class="bi bi-clipboard-x"></i>
                        <h3>Prevention of Duplication</h3>
                        <p>
                            Furthermore, it is essential to prevent the same individual from participating in the same
                            survey multiple times. This applies whether they come from different panels used for the
                            project or have multiple instances within the same panel.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 icon_box-wrap" data-aos="fade-up">
                    <div class="icon_box p-3 d-flex flex-column justify-center align-items-center text-center">
                        <i class="bi bi-display-fill"></i>
                        <h3>Loyalty Monitor</h3>
                        <p>
                            Preventing fraudulent respondents from participating in surveys has been successfully
                            demonstrated, regardless of the sources, markets, or audiences. This practice is standard
                            for all consumer research with a response rate (IR) exceeding 10%.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 icon_box-wrap" data-aos="fade-up">
                    <div class="icon_box p-3 d-flex flex-column justify-center align-items-center text-center">
                        <i class="bi bi-box-arrow-in-down-left"></i>
                        <h3>Unique Respondents to Surveys</h3>
                        <p>
                            At the outset of a study, our approach effectively reduces duplicate responses. By utilizing
                            proprietary and industry-accepted digital fingerprinting technology, we ensure that only
                            unique respondents participate in the research.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- <p>created by Amir Hamza</p> -->
</section>