<section class="container " style="padding-top: 50px;" id="home">
    <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center" style="padding: 50px 0;">
            <h1>Welcome to <br> The Expert Opinion</h1>
            <p class="ps-2 pe-2 ">

                We provide global solutions for clients engaged in market research.
            </p>
             <!-- <p>created by Amir Hamza</p> -->
            <button class="custom_btn mt-3">Contact Us</button>
        </div>
        <div class="col-lg-6 heroImg d-flex justify-content-center align-items-center order-sm-first order-lg-last  ">
            <img src="assets/hero.jpg" alt="hero">
        </div>
    </div>
</section>