<section class="container" style="padding-top: 50px;" id="home">
    <div class="row">
        <!-- Image column -->
        <div class="col-lg-6 heroImg d-flex justify-content-center align-items-center order-lg-2"
             data-aos="zoom-in" data-aos-duration="1000">
            <img src="assets/hero.jpg" alt="hero">
        </div>
        <!-- Content column -->
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center"
             style="padding: 50px 0;">
            <h1 data-aos="fade-up" data-aos-duration="1000">Welcome to <br> The Expert Opinion</h1>
            <p class="ps-2 pe-2" data-aos="fade-up" data-aos-duration="1000">
                We provide global solutions for clients engaged in market research.
            </p>
            <button class="custom_btn mt-3" data-aos="fade-up" data-aos-duration="1000" (click)="scrollToContact()">Contact Us</button>
        </div>
    </div>
</section>
