<section class="container home pt-5" id="home">
    <div class="row" style="padding: 50px 0;">
        <!-- Image column -->
        <div class="col-lg-6 heroImg d-flex justify-content-center align-items-center order-lg-2">
            <img src="assets/hero.jpg" alt="hero">
        </div>
        <!-- Content column -->
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <h1>Welcome to <br> The Expert Opinion</h1>
            <p class="ps-2 pe-2">
                We provide global solutions for clients engaged in market research.
            </p>
            <button class="custom_btn mt-3" (click)="scrollToContact()">Contact
                Us</button>
        </div>

    </div>
</section>