<section class="services  mt-5" id="services">
    <h1 class="text-center">Our Services</h1>
    <div class="services_content">
        <div class="container">
            <div class="row icon_box-container mt-5 mb-5">

                <div class="col-lg-3">
                    <div class="icon_box p-3 d-flex flex-column justify-center align-items-center text-center ">
                        <i class="bi bi-graph-up-arrow "></i>
                        <h3>Research Method</h3>
                        <p>
                            The skilled and informed Survey Programmers at The Expert Opinion can handle even the most
                            complicated requirements. To maximize customer interaction, we design engaging, multilingual
                            surveys that are interactive and enjoyable.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="icon_box p-3 d-flex flex-column justify-center align-items-center text-center ">
                        <i class="bi bi-file-earmark-bar-graph-fill"></i>
                        <h3>Conduct Survey</h3>
                        <p>
                            Modern technologies are added to our internal project management system and sampling
                            methods. In order to assist our industry and corporate clients, we strive to use the most
                            cutting-edge techniques and best practises.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="icon_box p-3 d-flex flex-column justify-center align-items-center text-center ">
                        <i class="bi bi-activity"></i>
                        <h3>Data Analysis</h3>
                        <p>
                            Every study is unique, and so do the statistics. Using the primary parameters you provide,
                            we will modify the data display to better meet and comprehend your business objectives and
                            expectations.

                        </p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="icon_box p-3 d-flex flex-column justify-center align-items-center text-center ">
                        <i class="bi bi-file-easel-fill"></i>
                        <h3>Presentation</h3>
                        <p>
                            Using our analysis techniques, you’ll be able to visually interact with the data, apply
                            appropriate styling, and create an artistic structure for your reports, ensuring a
                            comfortable viewing experience.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
     <!-- <p>created by Amir Hamza</p> -->
</section>