.footer {
    background-color: #1c3d5a;
}

.footer-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;

}

.footer-icons  a:hover {
    border: 1px solid #fff;
}